<% start_date = @quiz.created_at %>
<% end_date = DateTime.now() %>
<% distance =  distance_of_time_in_words(start_date, end_date)%>
<div class="grid grid-cols-6 mt-5 border rounded-2xl border-purple-light shadow-md backdrop-blur-2xl backdrop-saturate-200 p-8">
  <div class="flex flex-col ml-5">
    <p class="text-3xl"><%= @quiz.name %></p>
    <p class="text-xs mt-1"><%= "created #{distance} ago"%> </p>    
  </div>
  <p class="text-lg mt-10 mx-5 col-span-4"><%= @quiz.description %></p>
  <div class="flex justify-end items-end mt-10 gap-2">
    <%= button_to "Edit", edit_quiz_path, class: "bg-purple-light hover:bg-blue-light text-white border font-bold py-2 px-3 rounded" %>
    <%= button_to "Delete", quiz_path, method: :delete, class: "bg-purple hover:bg-red border text-white border font-bold py-2 px-3 rounded"%>
  </div> 
</div>
  
    



  
  
  